* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1rem;
}

.pdata,
.products {
    width: 48%;
    margin: 1rem;
}

.fieldset {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

legend {
    color: blueviolet;
    font-size: 1.5rem;
    font-weight: 600;
}

label,
input,
textarea,
select {
    flex-basis: 100%;
}

input,
select {
    padding: 5px;
}

label {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

button {
    margin-top: 1.5rem;
    border: none;
    background-color: lawngreen;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    padding: 15px;
}

.radio {
    font-weight: unset;
    flex-basis: unset;
    margin: 10px;
}

.check {
    font-weight: unset;
    flex-basis: 100%;
    margin: 10px;
}