html{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header{
    width: 100%;
    height: 5vh;
    text-align: left;
    background-color: grey;
    color: white;
 
    font-size: 3vh;
}
legend{
    color: blue;
}
.left {
    width: 49%;
    height: 150%;
   position: relative;
   top: 5vh;
   
}
    
.right {
    width: 49%;
    height: 100%;
    float: right;
    position:absolute;
    top:11vh;
    right: 0%;
    display: flex;
    flex-direction: column;
    
}
li {
    list-style: none;
}
input, textarea{
    width: 100%;
}
input[type=radio], input[type=checkbox] {
    width: 5%;
}
#category-select {
    width: 100%;
}
button {
    width: 20vw;
    height: 5vh;
    background-color: green;
    color: white;
    border-radius: 10px;

}